
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
} 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
.col-xs-2-5 {
  width: 40%;
  float: left;
}
  
.col-xs-3-5 {
  width: 60%;
  float: left;
}
  
.col-xs-4-5 {
  width: 80%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
  col-sm-2-5 {
    width: 40%;
    float: left;
  }
  col-sm-3-5 {
    width: 60%;
    float: left;
  }
  col-sm-4-5 {
    width: 80%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
  .col-md-2-5 {
    width: 40%;
    float: left;
  }
  .col-md-3-5 {
    width: 60%;
    float: left;
  }
  .col-md-4-5 {
    width: 80%;
    float: left;
  }
  
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
  .col-lg-2-5 {
    width: 40%;
    float: left;
  }
  .col-lg-3-5 {
    width: 60%;
    float: left;
  }
  .col-lg-4-5 {
    width: 80%;
    float: left;
  }
}




@media (min-width: 1600px) {

.product-1-grid {width: 20%;}

}

@media (min-width: 2000px) {

.product-1-grid {width: 16.6667%;}

}


@media only screen and (max-width: 1550px) {

.navbar-default .navbar-nav > li {padding: 0 15px; }

}



@media only screen and (max-width: 1550px) {

.header-social-out {width: calc(13.6667% - 9px);}
.header-social-out .btn {display: block;}
.header-social-out .collapse {display:none;}
.header-social-out .collapse.in {display:block;}
.header-social-out #social-collapse {background-color: #222f3c; border: 1px solid #2b3a4a; padding: 10px; position: absolute; top: 100%; z-index: 5; }

.navbar-default .navbar-nav > li > a {padding-left: 0;padding-right: 0;font-size: 15px;}
}

@media only screen and (max-width: 1300px) {

.header-social-out {width: auto;}

}


@media only screen and (max-width: 1199px) {

.navbar-default .navbar-nav > li {padding: 0 7px;}
.navbar-default .navbar-nav > li > a {padding-left: 3px;padding-right: 3px;}
.header-right {margin-left: 0;}

.left-sidebar-before:before,
#main-footer:before {width: 25%;}

.product-4-col {width: 20%; }

.product-1-detail-more .product-value-out {margin-top: 4%;}
.product-1-detail-more .btn-product-more {margin-top: 24%;}

.case-browser-tab > li {width: 25%;}

.product-detail-table .footer ul > li {width: 100%;}


}


@media only screen and (max-width: 1024px) {

.navbar-toggle {display: block;}
.navbar-collapse.collapse {display: none !important;}
.navbar-collapse.collapse.in {display: block !important;}

.nav-out {float: right;}
.navbar-toggle {z-index: 2; margin: 0 -10px 0 20px;border-radius: 0;border-width: 0 0 0 1px;height: 76px;padding:27px;background-color: #1f2b37;}
.navbar-default .navbar-toggle {border-color: #2b3a4a;}
.navbar-default .navbar-toggle .icon-bar {background-color: #28bebd;}
.navbar-toggle .icon-bar {height: 3px;border-radius: 0;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #28bebd;}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {background-color: #fff;}

.navbar-collapse {background-color: #222f3c;padding-left: 0;padding-right: 0; position: absolute;z-index: 5; right: 0; top: 100%; width: 320px; border-top:0; margin-top:1px; box-shadow: none; }
.navbar-default .navbar-nav > li > a.btn-marketplace {margin: 10px;}
.navbar-default {position: static;}
.navbar-default .navbar-nav > li {display: block;width: 100%;padding: 0;}

.navbar-default .navbar-nav > li > a {font-size: 15px;padding: 15px 65px 15px 15px;margin-bottom: 0;position: relative;}
.datasection ul li{  width:100%; }
.trade-up-right ul li{ width:33.333%; }

}


@media only screen and (max-width: 991px) {

.main-content {padding-left: 0;padding-right: 0;}


.order-row {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.main-content-out {-webkit-order: 1; -ms-flex-order: 1; order: 1; }
.left-sidebar-out {-webkit-order: 2; -ms-flex-order: 2; order: 2; }
.right-sidebar-out {-webkit-order: 3; -ms-flex-order: 3; order: 3; }

.left-sidebar,
.right-sidebar {margin-top: 30px;margin-bottom: 30px;}
.main-content {margin-bottom: 0;}
.left-sidebar {margin-left: 0; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); border: 1px solid #2b3a4a;border-top: 0;background-color: #222f3c; }

.left-scroll {height: 1301px;}

.left-sidebar-before:before {display: none;}
#main-footer:before {width: 33.3333%;}
.footer-main-out {padding-left: 0;}


.product-detail-table .footer ul > li {width: auto;}

}


@media only screen and (max-width: 767px) {

.header-user {float: left; padding: 14px 11px; position: relative; right: auto; top: auto; }
.header-user .login-box{padding: 0;}
.header-user .login-box .user-info {max-width: 30px;}
.header-user .login-box .user-info .user-info-left {padding: 1px;}

.our-btn {height: 62px;}
.navbar-toggle {border-width: 0 1px 0 0; height: 62px; left: 0; margin: 0; padding: 20px; top: 0; position: absolute; }
.header-social-out {margin-top: 16px;margin-left: 5px;float: right;}
.navbar-collapse {width: 100%;}
.nav-out-header-right {float: right;}
.header-social-out #social-collapse {right: 0;}
.header-dropdown .dropup,
.header-dropdown .dropdown {position: static;}
.header-dropdown .dropdown-menu {width: 100%;}


.wrapper {padding-top: 0;}
#main-header,
.left-sidebar-out,
.right-sidebar-out {position: relative;left: auto;right: auto;}

.left-sidebar-out {margin-top: 10px;}
.left-sidebar {margin-left: 0;border-right: 1px solid #2b3a4a;border-bottom: 1px solid #2b3a4a;border-left: 1px solid #2b3a4a;}
#main-footer {margin-top: 20px;}
.table-responsive {border:0;}

.left-scroll,
.chat-out .chat-ul {height: auto !important;max-height: 500px !important;}


#main-footer:before {display: none;}
.left-total {margin-right: -10px;border-right: 0;border-top: 1px solid #273442;border-bottom: 1px solid #273442;}


.product-4-col {width: 25%; }

.select-most-popular {float: none; margin-bottom: 10px; margin-top: 20px; }


.cooming-soon h1 {font-size: 35px;letter-spacing: 0;}


.main-content-main {padding-left: 10px;padding-right: 10px;}
.main-content-main-row {margin-left: -10px; margin-right: -10px; }

.product-1-detail-more {padding: 20px 10px;}
.product-1-detail-more .product-value-out,
.product-1-detail-more .btn-product-more {margin-top: 20px;}

.title-4,
.title-5,
.title-6 {padding-left: 10px;padding-right: 10px;line-height: 28px;}

.panel-title > a,
.panel-body {padding-left: 10px;padding-right: 10px;}

.support-ul > li {float: none;padding-top: 10px;padding-bottom: 10px;}

.trade-up h2{padding:30px; font-size:20px;}
.trade-up-right ul li{ width:33.3333%;}

.user-profile-info {padding: 20px;}
.user-profile-info .user-profile-info-left,
.user-profile-info .user-profile-info-right {float: none;}
.user-profile-info .user-profile-info-left {margin-top: 0;margin-bottom: 30px;}
.user-profile-info .user-profile-info-right .table {max-width: 360px;}


.product-detail-table .footer ul > li {width: 100%;} 

.affiliate-input-lg {margin-bottom: 30px;}

.product-1-grid,
.product-1-grid-2 {width: 50%;}
}


@media only screen and (max-width: 640px) {

.product-1-grid,
.product-1-grid-2 {width: 50%;}
.product-4-col {width: 33.333%; }
.datasection ul li{  width:100%; }
.trade-up-right ul li{ width:50%; }

.spin-slider-btn {display: inherit;}
.spin-slider-btn > li {float: none;}
.spin-slider-btn > li > .btn {display: block;width: 100%;}

.case-browser-tab > li {width: 50%;}

}

@media only screen and (max-width: 480px) {

.product-1-grid,
.product-1-grid-2 {width: 100%;}

.product-4-col {width: 50%; }

}
