a:hover, a:focus, button:focus {text-decoration: none;outline: none;}
a,
button,
:before,
:after {transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
ul,ol{list-style: none;padding-left: 0;margin-bottom: 0;}

body {font-family: 'Roboto', sans-serif;color: #fff;font-size: 15px;line-height: 1.59957;background: #1c2732 url("../images/bg-body.jpg") no-repeat scroll center top;background-size: contain;}
p {
  margin: 0 0 35px;
}
p:last-child {margin-bottom: 0;}

h4, .h4 {font-size: 17px; font-weight: 700; letter-spacing: 1px; margin-bottom: 20px; }

.bg-ec407a {background-color: #ec407a;}
.bg-28bebd {background-color: #28bebd;}
.bg-36414b {background-color: #36414b;}

.clr-ec407a {color: #ec407a !important;}
.clr-26bebd {color: #26bebd !important}
.clr-ffffff {color: #fff !important;}

.even-odd-color > li:nth-child(even) {background-color: #1f2b37;}
.even-odd-color > li > a {color: #fff; display: block; padding: 6px 20px; }
.even-odd-color > li > a:hover {background-color: rgba(255,255,255,0.1);}

.btn-blue {background-color: #28bebd;color: #fff;}
.btn-pink {background-color: #ec407a;color: #fff;}

.btn-blue {background-color: #28bebd; border-color: transparent; color: #ffffff; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); overflow: hidden; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: color, background-color; transition-property: color, background-color; }
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {background-color: #EC407A; color: #fff; }
.btn-pink {background-color: #EC407A; border-color: transparent; color: #ffffff; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); overflow: hidden; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: color, background-color; transition-property: color, background-color; }
.btn-pink:hover, .btn-pink:focus, .btn-pink:active {background-color: #28bebd; color: #fff; }
.btn-dark-blue {background-color: #273543; border-color: transparent; color: #ffffff; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); overflow: hidden; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: color, background-color; transition-property: color, background-color; }
.btn-dark-blue:hover, .btn-dark-blue:focus, .btn-dark-blue:active {background-color: #EC407A; color: #fff;}

.btn-md, .btn-group-md > .btn {border-radius: 0; font-size: 17px; font-weight: 700; padding: 12px 33px; }
.btn-lg, .btn-group-lg > .btn {border-radius: 0;font-size: 17px; font-weight: 500;padding: 23px 53px;letter-spacing: 1px;}

.mt--50 {margin-top: -50px !important;}


/* Header
================================================== */

.header-logo {margin-left: auto; margin-right: auto; max-width: 250px; padding-bottom: 6px; padding-top: 6px; }
.header-user {position: absolute; right: 0; top: -110px; }
.header-bottom {background-color: #222f3c;border-bottom: 1px solid #2b3a4a;border-top: 1px solid #2b3a4a;left: 0;right: 0;top: 0;z-index: 999; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}

.header-social-out {
  float: left;
  margin-right: 7px;
  margin-top: 23px;
  text-align: center;
  width: calc(13.6667% - 15px);
}


.header-social-out .btn {padding:0;display:none;height: 30px;width: 30px;border-radius: 50%;line-height: 30px;text-align: center;background-color: #4e5963;color: #222f3c;font-size: 18px;}
.header-social-out .collapse {display: inline-block;}
.social-links {margin-left: -5px;margin-right: -5px;}
.social-links li {float: left;padding-left: 5px;padding-right: 5px;}
.social-links li a {display:block;height: 30px;width: 30px;border-radius: 50%;line-height: 30px;text-align: center;background-color: #4e5963;color: #222f3c;font-size: 18px;}
.social-links li a:hover,
.header-social-out .btn:hover {background-color: #fff;color:#222f3c;}



.nav-out {float: left;}
.navbar-default {background-color: transparent;}
.navbar {margin-bottom: 0;border:0;min-height: inherit;}
.navbar-default .navbar-nav > li {padding: 0 15px;}
.navbar-default .navbar-nav > li > a {color: #fff;font-size: 17px;font-weight: 500;letter-spacing: 1px;border-bottom: 1px solid transparent;padding: 28px 10px;margin-bottom: -1px;}
.navbar-default .navbar-nav > li > a.btn-marketplace {text-align: center; background-color: #28bebd; border-bottom: 0 none; margin-top: 13px; margin-bottom: 13px; padding: 15px 32px; }
.navbar-default .navbar-nav > li > a.btn-marketplace:hover {background-color: #ec407a;}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {background-color: transparent;color: #fff;border-color: #ec407a;}


.header-right {float: right;margin-left: 30px;}
.header-dropdown {margin-left: -8px;margin-right: -8px;float: left;}
.header-dropdown > li {float: left;padding-left: 8px;padding-right: 8px;}
.header-dropdown > li .round {display:inline-block;height: 30px;width: 30px;border-radius: 50%;line-height: 30px;text-align: center;overflow: hidden; -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); }

.dropdown-right {right: 0;left: auto;}
.language-ul > li > a {display: table;width: 100%;white-space: nowrap;}
.language-ul > li > a .language-text {font-size: 13px;float: left;display: block;padding: 5px 0 0 10px;}
.language-ul > li > a .round {display: block;float: left;}


.dropdown-cart {min-width: 350px;}
.dropdown-cart .btn-delete {height: 22px; padding: 0; width: 22px; }
.dropdown-cart .table {font-size: 13px;}
.dropdown-cart .table a {color: #fff;}
.dropdown-cart .table .cart-product {border:1px solid #222f3c;display: block;background-color: #1f2b37;max-width: 60px;}
.dropdown-cart .table > tfoot > tr > th {font-weight: 400;}

.dropdown-cart .table > thead {background-color: #273543;}
.dropdown-cart .table > thead > tr > th {border-bottom: 2px solid #304152; }
.dropdown-cart .table {margin-bottom: 10px;}
.dropdown-cart .table > thead > tr > th,
.dropdown-cart .table > tbody > tr > th,
.dropdown-cart .table > tfoot > tr > th,
.dropdown-cart .table > thead > tr > td,
.dropdown-cart .table > tbody > tr > td,
.dropdown-cart .table > tfoot > tr > td {vertical-align: middle;border-top:0;padding: 5px;}
.dropdown-cart .table > tbody > tr:nth-of-type(even) {background-color: #1f2b37; }
.dropdown-cart-tbody {max-height: 350px;}
.dropdown-cart .cart-btn {width: 100%;background-color: #273543;padding: 8px;border-top: 2px solid #304152;}
.dropdown-cart .cart-btn ul {margin: 0 -8px;float: right;}
.dropdown-cart .cart-btn ul li {float: left;padding:0 8px;}
.our-btn {display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; padding: 2px 0 0 0; border:0; background-color: transparent; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; white-space: nowrap; line-height: 1.42857143; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; height: 76px; }
.our-btn .btn-text {display: inline-block; position: relative; top: -10px; font-size: 13px; padding-left: 10px; }
.our-btn .glyphicon {display: inline-block; position: relative;top: -5px; font-size: 18px; height: 30px; width: 30px; line-height: 30px; text-align: center; border-radius: 50%; background-color: transparent; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.our-btn:hover .glyphicon {background-color: rgba(255, 255, 255, 0.2);}
.nav-out-header-right {float: right;}


/* Left Side bar
================================================== */
.left-sidebar-out {/*position: fixed;left: 0;bottom: 0;*/}

.left-sidebar {margin-left:-10px;}
.left-sidebar .title-2 {background-color: #28BEBD;}
.left-sidebar .title-2 h2 {float:left; letter-spacing: 0.5px;font-size: 17px;font-weight: 700;margin: 0;text-shadow:2px 2px 0 rgba(0, 0, 0, 0.2); }
.left-sidebar .title-2 .icn-btn {position: relative;text-align: left;background-color: transparent; border: 0; padding: 20px; display: inline-block; margin-bottom: 0; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.left-sidebar .title-2 .icn-btn .icn-main {position: absolute;top: 50%;margin-top: -15px;right: 15px;border-radius: 50%; float: right; font-size: 18px; height: 30px; line-height: 30px; margin-right: 0; text-align: center; width: 30px; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; }
.left-sidebar .title-2 .icn-btn:hover .icn-main {background-color: rgba(255,255,255,0.2);}
.dropdown-left {width: 100%;}
.dropdown-menu {border-radius: 0; margin-top: 0;background-color: #1c2732;border-color:#27303a;}



.left-scroll {padding-bottom: 10px;height: 1125px;overflow: hidden;}
.left-sidebar .left-product {padding-left: 10px;padding-right: 10px;}


.product-2 {overflow: hidden; background-color: #273543;border:1px solid #222f3c;margin-top: 10px;position: relative; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-2 .btn {z-index: 5; padding: 0;height: 40px;width:40px;line-height: 40px;text-align: center;background-color: #28BEBD;border-radius: 50%;overflow: hidden;position: absolute;left: 50%;margin-left: -20px; top: -20px;display: block;opacity: 0; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
.product-2 a {color: #fff;}
.product-2 .product-2-img {border-bottom:1px solid #222f3c;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-2 .product-2-detail {position: relative; text-align: center; background-color: #1c2732;padding: 35px 10px 20px;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-2 .product-2-detail .product-2-name {font-size: 13px;margin-top: 0;margin-bottom: 5px;}
.product-2 .product-2-detail .product-2-name strong {color: #26BEBD;font-size: 700;padding-left: 5px;}
.product-2 .product-2-detail .product-2-price {font-size: 13px;}
.product-2 .product-2-detail .product-2-price del {padding: 0 3px; position: relative; text-decoration: none; }
.product-2 .product-2-detail .product-2-price del:before {background-color: #ffffff; content: ""; height: 1px; left: 0; position: absolute; right: 0; top: 50%; width: 100%; display: block; transform: rotate(8deg); -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); -o-transform: rotate(8deg); -ms-transform: rotate(8deg); }
.product-2 .product-2-detail .product-2-price strong {color: #EB3F79;font-weight: 700;padding-left: 5px}
.product-2 .product-2-detail.product-2-detai-overlay-out .product-2-price strong {color: #26BEBD;font-weight: 400;}
.product-2 .product-2-detail.product-2-detai-overlay-in {bottom: 0; height: 0; left: 0; padding: 0; position: absolute; right: 0; visibility: hidden; }


.product-2:hover .product-2-detail.product-2-detai-overlay-in {margin-top: -93px; height: 93px; visibility: visible;padding: 35px 10px 20px;z-index: 5; }
.product-2:hover {background-color:#273543;border-color:#304152; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); }
.product-2:hover .btn {opacity: 1;}
.product-2:hover .product-2-img {border-color:#304152;}
.product-2:hover .product-2-detail {background-color: #1f2b37;}



/* Right Side bar
================================================== */

.right-sidebar-out {/*position: fixed;right: 10px;bottom: 0;*/ }
.right-sidebar {margin-top: 20px;}

.right-sidebar .right-box {margin-bottom: 20px;}



.login-box {padding: 15px;}
.login-box .user-info {color: #fff;display: block;}
.login-box .user-info span {display: block;}
.login-box .user-info .user-info-left {background-color: #fff; border-radius: 50%; float: left; overflow: hidden; padding: 3px; -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); }
.login-box .user-info .user-info-right {float: left; font-size: 14px; padding-left: 15px; padding-top: 7px; }
.login-box .user-info .user-info-right .bottom {font-size: 12px;margin-top: 4px;}


.login-box .btn-deposit {background-color: #fff;color: #0677A0;font-size: 16px;font-weight: 700;border-radius: 0;padding: 10px 12px;margin-top: 30px;}
.login-box .btn-deposit:hover {background-color: #ec407a;color: #fff;}


.login-box .btn-login {color: #fff;display: block;background-color: #222F3C;margin-top: 20px;padding: 15px;}
.login-box .btn-login span {display: block;}
.login-box .btn-login .btn-login-left {background-color: #ffffff; color: #222f3c; float: left; font-size: 35px; height: 40px; line-height: 40px; width: 40px; border-radius: 4px; }
.login-box .btn-login .btn-login-right {float: left; font-size: 12px; padding-left: 15px; }
.login-box .btn-login .btn-login-right .bottom {font-size: 18px;font-weight: 700;}

.login-box .btn-login:hover {background-color: #ec407a;}
.login-box .btn-login:hover .btn-login-left {color: #ec407a;}







.chat-out {background-color: #24313e;}
.chat-title {border-bottom: 1px solid #28323c; font-size: 17px; font-weight: 700; letter-spacing: 0.5px; margin: 0 10px 10px; padding: 18px 10px; position: relative; }
.chat-title:before {bottom: -1px; content: ""; display: block; height: 2px; left: 0; position: absolute; width: 100px; }
.pink-title:before {background-color: #ec407a;}

.chat-out .chat-ul {overflow: hidden;min-height: 315px;max-height: 454px;}
.chat-out .chat-ul .chat-ul-padding {padding-left: 10px;padding-right: 10px;}
.chat-out .chat-ul .chat-li {font-size: 11px;background-color: #1c2732;position: relative;padding: 13px 10px 13px 25px;margin-top: 5px;}
.chat-out .chat-ul .chat-li .status {border-radius: 50%; display: block; height: 7px; left: 10px; position: absolute; top: 16px; width: 7px; }
.chat-out .chat-ul .chat-li h6 {font-size: 11px;font-weight: 700;margin-top: 0;margin-bottom: 5px;}

.chat-out .chat-reply {padding: 15px 10px 10px 10px;}
.chat-out .chat-reply form {position: relative;}
.chat-out .chat-reply .form-control {padding-right: 52px; border-color: #ededed; border-radius: 0; color: #000000; font-size: 12px; height: 50px; }
.chat-out .chat-reply .reply-btn {display: inline-block; margin-bottom: 0; border:0; font-weight: normal; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; height: 50px; width: 50px; position: absolute; top: 0; right: 0; color: #1C2732; padding: 0; background-color: transparent; }
.chat-out .chat-reply .reply-btn span {border-left: 1px solid #eee; display: block; line-height: 27px; }




/* Main Content
================================================== */

.left-sidebar-before {position: relative;}
.left-sidebar-before:before {background-color: #222f3c; border-right: 1px solid #2b3a4a; content: ""; height: 100%; left: -10px; position: absolute; top: 0; width: 13.6667%; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
.main-content {padding-left:20px;padding-right: 20px;margin-bottom: 30px;}

.title-1 {letter-spacing: 1px;margin-top:20px;margin-bottom:10px;border-bottom: 1px solid #28323c; font-size: 17px; font-weight: 700; padding-top: 25px;padding-bottom: 25px; position: relative; }
.title-1:before {bottom: -1px; content: ""; display: block; height: 1px; left: 0; position: absolute; width: 100px; }
.title-1-text {float: right;}

.pink-title:before {background-color: #ec407a;}
.blue-title:before {background-color: #28bebd;}


.product-1 {overflow: hidden; background-color: #1f2b37;border:1px solid #222f3c;margin-top: 10px;margin-bottom: 10px;position: relative; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-1 a span {display: block;}
.product-1 .btn {padding: 0;height: 40px;width:40px;line-height: 40px;text-align: center;background-color: #28BEBD;border-radius: 50%;overflow: hidden;position: absolute;left: 17px;top: -20px;display: block;opacity: 0; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
.product-1 a {color: #fff;}
.product-1 .product-1-img {position: relative; border-bottom:1px solid #222f3c;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; min-height:185px;}
.product-1 .money {background-color: #ec407a; font-size: 12px; height: 95px; left: -48px; line-height: 55px; padding: 50px 3px 3px; position: absolute; text-align: center; top: -48px; width: 95px; transform: rotate(-45deg) ; -webkit-transform: rotate(-45deg) ; -moz-transform: rotate(-45deg) ; -o-transform: rotate(-45deg) ; -ms-transform: rotate(-45deg) ; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); opacity: 0;visibility: hidden;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-1 .sold {background-color: #ec407a;display: block;font-size: 12px;left: 0;padding: 10px 15px;position: absolute;top: 0;text-align: center; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); opacity: 0;visibility: hidden;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-1 .money-2 {background-color: #ec407a;display: block;font-size: 12px;right: 0;padding: 10px 15px;position: absolute;top: 0;text-align: center; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); opacity: 0;visibility: hidden;transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-1 .money-3 {background-color: #ec407a; font-size: 12px; height: 95px; left: -48px; line-height: 55px; padding: 50px 3px 3px; position: absolute; text-align: center; top: -48px; width: 95px; transform: rotate(-45deg) ; -webkit-transform: rotate(-45deg) ; -moz-transform: rotate(-45deg) ; -o-transform: rotate(-45deg) ; -ms-transform: rotate(-45deg) ; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);}
.product-1 .money-4 {background-color: #ec407a;display: block;font-size: 12px;right: 0;padding: 10px 15px;position: absolute;top: 0;text-align: center; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }


.product-1 .product-1-detail {background-color: #1c2732;padding:15px;text-align: center; min-height:76px; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}
.product-1 .product-1-detail .product-1-name {margin-top: 0;margin-bottom: 0;font-size: 14px;font-weight: 500;}
.product-1 .product-1-detail .product-1-price {margin-top: 5px;font-size: 14px;font-weight: 500;}
.product-1 .product-1-detail .product-1-price del {padding: 0 3px; position: relative; text-decoration: none; }
.product-1 .product-1-detail .product-1-price del:before {background-color: #ffffff; content: ""; height: 1px; left: 0; position: absolute; right: 0; top: 50%; width: 100%; display: block; transform: rotate(8deg); -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); -o-transform: rotate(8deg); -ms-transform: rotate(8deg); }
.product-1 .product-1-detail .product-1-price strong {color: #27BEBD;font-weight: 700;padding-left: 5px}




.product-1:hover {background-color:#273543;border-color:#304152; -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); }
.product-1:hover .btn {opacity: 1;}
.product-1:hover .product-1-img {border-color:#304152;}
.product-1:hover .product-1-detail {background-color: #1f2b37;}
.product-1-inner:hover .money,
.product-1-inner:hover .sold,
.product-1-inner:hover .money-2 {opacity: 1;visibility: visible;}
 


/* product-yellow
================================================== */

.product-yellow {border-bottom: 2px solid #ffc924;}
.product-yellow:hover {border-color:#ffc924; }
.product-yellow:hover .product-1-detail {background-color: #ffc924;}

/* product-pink
================================================== */

.product-pink {border-bottom: 2px solid #ec407a;}
.product-pink:hover {border-color:#ec407a; }
.product-pink:hover .product-1-detail {background-color: #ec407a;}

/* product-purple
================================================== */

.product-purple {border-bottom: 2px solid #a072fc;}
.product-purple:hover {border-color:#a072fc; }
.product-purple:hover .product-1-detail {background-color: #a072fc;}

/* product-sky-blue
================================================== */

.product-sky-blue {border-bottom: 2px solid #08a5e1;}
.product-sky-blue:hover {border-color:#08a5e1; }
.product-sky-blue:hover .product-1-detail {background-color: #08a5e1;}

/* product-gray
================================================== */

.product-gray {border-bottom: 2px solid #555;}
.product-gray:hover {border-color:#555; }
.product-gray:hover .product-1-detail {background-color: #555;}

/* product-gray
================================================== */

.product-dark-blue {border-bottom: 2px solid #0e6ada;}
.product-dark-blue:hover {border-color:#0e6ada; }
.product-dark-blue:hover .product-1-detail {background-color: #0e6ada;}


/* Scroll Tools (theme:minimal)
================================================== */

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #000; background-color: rgba(0,0,0,0.1); filter: "alpha(opacity=10)"; -ms-filter: "alpha(opacity=10)"; }
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #000; background-color: rgba(0,0,0,0.1); filter: "alpha(opacity=10)"; -ms-filter: "alpha(opacity=10)"; }
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox > .mCSB_scrollTools,
.mCustomScrollBox ~ .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }



/* Footer
================================================== */

#main-footer {background-color: #19232d;padding-bottom: 37px;position: relative;}

#main-footer:before {background-color: #1f2a36; border-right: 1px solid #273442; content: ""; height: 100%; left: -10px; position: absolute; top: 0; width: 13.6667%;-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.left-total {background-color: #1f2a36; border-right: 1px solid #273442; margin-left: -10px; padding: 30px 20px; text-align: center; }
.left-total h3 {margin: 0;color: #26BEBD;font-size: 25px;font-weight: 700;margin-bottom: 5px;}
.left-total h4 {margin: 0;font-weight: 500;font-size: 14px;}

.footer-container { padding-left: 20px; padding-right: 20px;}

.footer-main-out {font-size: 13px;color: #999;margin-top: 40px;}
.footer-main-out h3 {color: #fff;font-size: 13px;font-weight: 700;margin-bottom: 15px;}
.footer-main-out .footer-main .footer-links li {line-height: 30px;}

.footer-main-out a {color: #999;}
.footer-main-out a:hover {color: #28bebd;}

.footer-main-out .footer-main .footer-social-out {margin-top: 30px;}
.footer-main-out .footer-main .horizontal-links-out {margin-top: 15px;}
.horizontal-links {margin-left: -5px;margin-right: 5px;}
.horizontal-links li {float: left;padding-left: 5px;padding-right: 5px;border-left: 1px solid #999;margin-top: 15px;}
.horizontal-links li a {display: block;line-height: 10px;}
.horizontal-links li:first-child {border-left: 0;}

.footer-table {margin-top: 40px;}
.footer-table .table {margin-bottom: 0;}
.footer-table .table > thead > tr > th,
.footer-table .table > tbody > tr > th,
.footer-table .table > tfoot > tr > th,
.footer-table .table > thead > tr > td,
.footer-table .table > tbody > tr > td,
.footer-table .table > tfoot > tr > td {border:0;font-weight: 700;}

.footer-table .table > thead > tr > th,
.footer-table .table > tbody > tr > th,
.footer-table .table > tfoot > tr > th {color: #27BEBD;text-align: right;}

.footer-main-out .footer-logo {margin-left: -20px;margin-right: -20px;}
.footer-main-out .footer-logo > li {float: left;padding-left: 20px;padding-right: 20px;}
.footer-main-out .social-links li {margin-top: 10px;}



/* Product-4
================================================== */

.product-4-row {margin-left: -5px;margin-right: -5px;}
.product-4-col {float: left;padding-left: 5px;padding-right: 5px;width: 12.5%;}
.product-4 {border:2px solid #222f3c;margin-top: 5px;margin-bottom: 5px;background-color: #1F2B37; -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1); }
.product-4 a {display: block;}
.product-4-list {font-size: 15px;}
.product-4-list > li {padding-top: 5px; padding-bottom:5px;}


/* Opencases Page
================================================== */

.spin-slider-out {position: relative;}
.spin-slider-1 {background-color: #273543;padding: 5px;border:1px solid #304152;margin-top: 10px;}
.spin-slider-arrow .top {background: transparent url("../images/spin-slider-arrow-top.png") no-repeat scroll center center; height: 25px; left: 50%; margin-left: -25px; position: absolute; top: 0; width: 50px; z-index: 5; }
.spin-slider-arrow .bottom {background: transparent url("../images/spin-slider-arrow-bottom.png") no-repeat scroll center center; height: 25px; left: 50%; margin-left: -25px; position: absolute; bottom: 0; width: 50px; z-index: 5; }
.product-spin-1 {padding: 6px;}
.product-spin-1 > a {display: block;background-color: #2A3641;}
.spin-slider-btn {margin-left: -10px;margin-right: -10px;display: inline-block;}
.spin-slider-btn > li {float: left;padding-left: 10px;padding-right: 10px;margin-top: 30px;}
.select-wrapper {position: relative;}
.triangle-border:before {z-index: -1; content: "";width: 0; height: 0; border-style: solid; border-width: 7px 5px 0 5px; border-color: #fff transparent transparent transparent; position: absolute;right: 15px;top: 50%;margin-top: -4px; }
select.form-control {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
.select-1 { background-color: rgba(0, 0, 0, 0.2); border: 1px solid #273543; border-radius: 0; color: #ffffff; font-size: 17px; font-weight: 700; height: 51px; padding-right: 30px; }
.select-1 > option {padding: 3px 6px;} .spin-currency {font-size: 17px; font-weight: 700; line-height: 51px; }
.select-1:focus {box-shadow: none;border-color: #273543;}


/* Tooltipster
================================================== */

.tooltipster-bottom {margin-top: -28px;}
.tooltipster-sidetip .tooltipster-content {padding: 25px;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {margin-top: 20px;}
.tooltipster-sidetip .tooltipster-box {background-color: #273543;border: 2px solid #304152;border-radius: 0;-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);}
.tooltipster-sidetip .tooltipster-arrow-border,
.tooltipster-sidetip .tooltipster-arrow-background {border-width: 17px;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {top: 5px;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {top: -17px; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {width: 32px;height: 18px;margin-left: -16px;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {border-bottom-color: #304152;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {border-bottom-color: #273543;}


.pagination {margin-left: -5px;margin-right: -5px;}
.pagination > li {float: left;padding: 5px;}
.pagination > li:first-child > a, .pagination > li:first-child > span { border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.pagination > li > a, .pagination > li > span {background-color: #222f3c; border: 0 none; color: #fff; font-size: 16px; font-weight: 700; line-height: 38px; margin-left: 0; min-height: 50px; min-width: 50px; text-align: center; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {background-color: #28BEBD;color: #fff;}


.pagination > .previous > a,
.pagination > .previous > span,
.pagination > .next > a,
.pagination > .next > span {background-color: #EC407A;font-size: 25px;line-height: 30px;}


/* Giftcards
================================================== */

.shop-by-title {background-color: #28bebd; font-size: 17px; font-weight: 700; padding: 13px 15px; }

.title-3 {background-color: #1d2937; font-size: 16px; font-weight: 500; margin-bottom: 0; margin-top: 0; padding: 16px 15px; }
.list-links {padding-left: 15px;padding-right: 15px;margin-bottom: 20px;}
.list-links > li {border-bottom: 1px solid #1D2937;}
.list-links > li:last-child {border-bottom: 0;}
.list-links > li > a {display: block;color: #fff;font-size: 15px;padding: 10px 0;}
.list-links > li > a:hover {color: #28bebd;}

.icn-bars:before {content: "\f0c9";font-family: FontAwesome; font-size: 21px; margin-top: -15px; position: absolute; right: 15px; top: 50%; z-index: 1;}
.select-2 { background-color: #1d2937; border: 0; border-radius: 0; color: #ffffff; font-size: 16px; font-weight: 500; height: 50px; padding-right: 30px; }
.select-2 > option {padding: 3px 6px;}
.select-2:focus {box-shadow: none;border-color: transparent;}

.select-most-popular {float: right; margin-top: -72px; }


/* Range Slider
================================================== */

.range-slider-1 {padding: 20px 15px; }
.irs-min, .irs-max {display: none;}
.irs-slider {background-position: -7px -120px; height: 17px; width: 17px; }
.irs-slider.state_hover, .irs-slider:hover {background-position: -7px -150px; }
.irs-from:after, .irs-to:after, .irs-single:after {display: none;}
.irs-from, .irs-to, .irs-single {background-color: transparent;font-size: 11px;padding: 0px 5px;}



/* Cooming Soon
================================================== */

.cooming-soon {text-align: center;font-size: 16px;padding: 10% 0;}
.cooming-soon h1 {color: #28bebd; font-size: 50px; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; letter-spacing: 2px; }
.cooming-soon h1 span {font-weight: 300;color: #fff; }
.cooming-soon form {position: relative;margin: 0 auto;max-width: 400px;margin-top: 30px;}
.cooming-soon .form-control {background-color: rgba(0, 0, 0, 0.2); border-color: #273543; border-radius: 0; color: #ffffff; height: 50px; padding-right: 110px; }
.cooming-soon .form-control:focus {box-shadow: none;border-color: #28bebd;}
.cooming-soon .btn {background-color: rgba(0, 0, 0, 0); border-radius: 0; color: #ffffff; font-weight: 700; height: 50px; letter-spacing: 1px; position: absolute; right: 0; top: 0; }




.main-content-main {background-color: #2A3641; border: 1px solid #222f3c; -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); padding: 50px; margin-top: 10px;margin-bottom: 60px; }
.main-content-main-faq{ background-color: #36414B!important;}
.product-1-detail-more {background-color: #36414B; border-bottom: 1px solid #222f3c; margin-bottom: 50px; padding: 20px; }
.main-content-main-row {margin-left: -50px;margin-right: -50px;}

.product-1-detail-more .product-value-out {margin-top: 31px;}
.product-1-detail-more .product-type {font-size: 13px;display: block;margin-bottom: 15px;}
.product-1-detail-more .product-title {display: block;font-size: 16px;font-weight: 500;margin-bottom: 5px;}
.product-1-detail-more .product-value {display: block;font-size: 20px;font-weight: 500;}

.product-1-detail-more .btn-product-more {margin-top: 55px;}

.ul-disc {margin-bottom: 20px;}
.ul-disc > li {padding: 9px 0 9px 27px;position: relative; }
.ul-disc > li:before {background-color: #ffffff; border-radius: 50%; content: ""; height: 8px; left: 0; position: absolute; top: 17px; width: 8px; }

/* Terms
================================================== */

.title-4 {border-bottom: 1px solid #222f3c; border-top: 1px solid #222f3c; font-size: 17px; font-weight: 700; padding: 35px 50px; margin-top: 0;margin-bottom: 0; }
.title-5 {font-size: 17px; font-weight: 700; padding: 35px 50px; margin-top: 0;margin-bottom: 0; }
.title-6 {font-size: 17px; font-weight: 700; padding: 35px 50px; margin-top: 0;margin-bottom: 0;border-bottom: 1px solid #222f3c;border-top: 1px solid #222f3c;background-color: #36414b; }
.title-7 {font-size: 20px; font-weight: 700; margin-bottom: 30px; margin-top: 0; }


.terms-section {padding-top: 30px;padding-bottom: 30px;}

.panel-default > .panel-heading {background-color: transparent;}
.panel-heading {padding: 0;}
.panel-title {font-size: 17px;font-weight: 700;}
.panel-title > a {background: none; color: #28BEBD; display: block; padding: 20px 50px; line-height: 24px; }
.panel-title > a.collapsed {background-color: #2A3641; color: #ffffff; display: block; padding: 20px 50px; line-height: 24px; }
.panel {background-color: transparent;border: 0;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {border: 0;}
.panel-body {padding: 30px 50px; }
.panel-group .panel + .panel,
.panel {border-bottom: 2px solid #1F2B37; box-shadow: none; margin-top: 0; }

.terms-footer {float: right;margin-top: 20px;}
.terms-footer p {float: left; font-weight: 700; margin: 13px 30px 13px 0; } .terms-footer .btn {float: left;}


.form-2 .form-group {margin-bottom: 30px;}
.form-2 .form-2-label {font-weight: 400; letter-spacing: 1px; margin-bottom: 25px; }
.form-2 .form-control {border-radius: 0; height: 72px; border: 3px solid transparent; font-size: 15px; color: #1F2B37; font-weight: 700; -webkit-box-shadow: none; box-shadow: none; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; }
.form-2 textarea.form-control {height: auto;}

.form-2 .form-control:focus {border-color: #28bebd; outline: 0; -webkit-box-shadow: none; box-shadow: none; }
.support-title {font-size: 15px; font-weight: 400; margin-bottom: 50px; }
.form-2 .select-wrapper {position: relative;background-color:}
.form-2 .select-wrapper:before {content: "";width: 0; height: 0; border-style: solid; border-width: 15px 10px 0 10px; border-color: #1c2732 transparent transparent transparent; margin-top: -7px; position: absolute; right: 35px; top: 50%; }
.form-2 .select-wrapper select.form-control {padding-right: 85px;}
.form-2 .select-wrapper select.form-control > option {padding: 10px 12px;}

.support-ul {margin-left: -20px;margin-right: -20px;margin-bottom: 50px;}
.support-ul > li {padding-left: 20px;padding-right: 20px;float: left;}
.checkbox-radio-label {font-weight: 400;}


@keyframes hover-color{from{border-color:#fff}to{border-color:#28bebd;}}
.magic-radio,.magic-checkbox{position:absolute;display:none}
.magic-radio[disabled],.magic-checkbox[disabled]{cursor:not-allowed}
.input-group-addon>.magic-radio+label,
.input-group-addon>.magic-checkbox+label{display:block}
.magic-radio+label,.magic-checkbox+label{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;margin:0}
.magic-radio+label:hover:before,
.magic-checkbox+label:hover:before{animation-duration:.4s;animation-fill-mode:both;animation-name:hover-color}
.magic-radio+label:before,
.magic-checkbox+label:before{position:absolute;top:0;left:0;display:inline-block;width:28px;height:28px;content:'';border:1px solid #fff}
.magic-radio+label:after,
.magic-checkbox+label:after{position:absolute;display:none;content:''}
.magic-radio+label{min-width:28px;min-height:28px}
.magic-radio+label:not(:empty){padding:0 0 0 45px!important}
.magic-checkbox+label{min-width:28px;min-height:28px}
.magic-checkbox+label:not(:empty){padding:0 0 0 45px!important}
.btn-group .magic-radio+label,
.btn-group .magic-checkbox+label{vertical-align:baseline;min-height:1em}
.magic-radio[disabled]+label,
.magic-checkbox[disabled]+label{cursor:not-allowed;opacity:.5}
.magic-radio[disabled]+label:hover,
.magic-radio[disabled]+label:before,
.magic-radio[disabled]+label:after,
.magic-checkbox[disabled]+label:hover,
.magic-checkbox[disabled]+label:before,
.magic-checkbox[disabled]+label:after{cursor:not-allowed}.magic-radio[disabled]+label:hover:before,
.magic-checkbox[disabled]+label:hover:before{animation-name:none}.magic-radio:checked+label:before,
.magic-checkbox:checked+label:before{animation-name:none}.magic-radio:checked+label:after,
.magic-checkbox:checked+label:after{display:block}
.magic-radio+label:before{border-radius:50%;left:-.01em}
.magic-radio+label:after{top:0;left:0px;width:28px;height:28px;border-radius:50%;background:#fff;}
.magic-radio:checked+label:before{border:1px solid #fff;}
.magic-checkbox+label:before{border-radius:0}
.magic-checkbox+label:after{top:1px;left:5px;box-sizing:border-box;width:6px;height:12px;transform:rotate(45deg);border-width:2px;border-style:solid;border-color:#fff;border-top:0;border-left:0}
.magic-checkbox:checked+label:before{border:#fff;;background:#fff;}




/*-----------Trade Up---------------------*/

.trade-up {background-color: #36414B; border: 1px solid #222f3c; -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1); padding: 0px; margin-top: 10px; }
.trade-up h2{ background-color:#1F2B37; padding:60px; font-size:26px; line-height:160%; font-weight:500; margin:0px; text-align:center}
.trade-up h2 span{ color:#27BEBD; display:block;}
.trade-up-right{ background-color:#2B3641;}
.trade-up-right ul li{ float:left; text-align:center; width:25%; border:solid 7px #2B3641;}
.trade-up-right ul{ padding:10px 0px;}
.trade-up-right ul li a{ background-color:#1F2B37; display:block; position:relative;}
.trade-up-right ul li a:hover:before{ content: " ";  position:absolute; border:solid 5px #28BEBD; width:100%; height:100%; left:0; top:0; }
.trade-up-right ul li a span{ background-color:#1C2732; display:block; font-size:12px; color:#FFF; padding:7px 0px 8px 0px;}
.trade-up-right ul li a.selected:before {content: " ";  position:absolute; border:solid 5px #28BEBD; width:100%; height:100%; left:0; top:0;}
.trade-up-right ul li a.selected:after {content: " ";position:absolute;  width:24px; height:24px; left:0; top:0; background-image:url(../images/check.jpg);}
.top-button{ padding:30px 10px;}
.top-button a{ display:inline-block; margin-left:10px; margin-right:50px;font-size:16px; color:#FFF; font-weight:700;}
.top-button a i{ font-size:20px; margin-right:10px;}
.top-button a:hover{  color:#28BEBD; }
.datasection ul li{ border:solid 10px #36414B; display:inline-block; text-align:center; background-color:#28BEBD; width:50%; padding:30px; font-size:16px; font-weight:700;}
.datasection ul li span{ font-size:40px; line-height:100px; display:block;}
.datasection ul li.li2x{ background-color:#EC407A; }
.trade-up-button { text-align:center; padding-top:25px;}
.trade-up-button a{ padding:20px 30px; display:inline-block; margin:auto; background-color:#E37840; color:#FFF; font-size:20px; font-weight:900; text-transform:uppercase;}
.trade-up-button a i{ font-size:30px; margin-right:10px;}
.trade-up-left h4{ margin:0px; text-align:center; font-size:20px; letter-spacing:1px; font-weight:500px; line-height:160%; padding:30px;}
.trade-up-left h4 span{ color:#27BEBD;}
.trade-up-left h4 span.color2{ color:#EB3F79;}
.contractwork{ background-color:#36414B; border:solid 1px #222F3C;}
.center-contract{ background-color:#2B3641;}
.contactlist{ padding:40px;}
.contactlist span{ display:inline-block; width:61px; height:61px; float:left; text-align:center; font-size:30px; line-height:61px; background-image:url(../images/bluebg.png); margin-right:30px;}


/*----------- Profile Page ---------------------*/


.user-profile-info {background-color: #ec407a;padding: 40px;margin-top: 30px;}
.user-profile-info .user-profile-info-left {float: left;margin-top: 12px;}
.user-profile-info .user-profile-info-left img {background-color: #fff;padding: 5px; -webkit-box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.3);}
.user-profile-info .user-profile-info-left .media-left, .media > .pull-left {padding-right: 30px;}
.user-profile-info .user-profile-info-left .media-heading {font-size: 20px;font-weight: 500;margin-bottom: 10px;}
.user-profile-info .user-profile-info-left .media-body {width: auto;}
.user-profile-info .user-profile-info-left .media,
.user-profile-info .user-profile-info-left .media-body {overflow: visible;}


.user-profile-info .user-profile-info-right {float: right;}
.user-profile-info .user-profile-info-right  .table {margin-bottom: 0;}
.user-profile-info .user-profile-info-right  .table > thead > tr > th,
.user-profile-info .user-profile-info-right  .table > tbody > tr > th,
.user-profile-info .user-profile-info-right  .table > tfoot > tr > th,
.user-profile-info .user-profile-info-right  .table > thead > tr > td,
.user-profile-info .user-profile-info-right  .table > tbody > tr > td,
.user-profile-info .user-profile-info-right  .table > tfoot > tr > td {border-top: 0;font-size: 18px;font-weight: 700;}

.user-profile-info .user-profile-info-right  .table > thead > tr > th,
.user-profile-info .user-profile-info-right  .table > tbody > tr > th,
.user-profile-info .user-profile-info-right  .table > tfoot > tr > th {text-align: right;}


/*----------- Case Browser ---------------------*/

.case-browser-tab {overflow: hidden;margin-top: 30px;border: 1px solid #13153b;}
.case-browser-tab > li {float: left; border: 1px solid #13153b; width: 12.5%; }
.case-browser-tab > li > a {background-color: #273543; color: #ffffff; display: block; padding: 18px 10px; text-align: center; }
.case-browser-tab > li > a:hover {background-color: #28bebd;}
.case-browser-tab > li > a.selected {background-color: #ec407a;}

.case-browser-filter {margin-bottom: 25px;}
.filter-main {margin-top: 20px;}
.filter-main h5 {display: block; float: left; font-size: 16px; font-weight: 700; margin-bottom: 0; margin-top: 17px; width: 100%; }
.form-control::-moz-placeholder {color: #fff;}
.form-control:-ms-input-placeholder {color: #fff;}
.form-control::-webkit-input-placeholder {color: #fff;}
.form-control::-ms-expand {color: #fff;}


/*----------- Casecreator ---------------------*/


.casecreator-section {background-color: #36414b; border: 2px solid #304152; padding: 35px 30px; margin-top: 10px; margin-bottom: 20px; }

.casecreator-section .form-control::-moz-placeholder {color: #959ba0;}
.casecreator-section .form-control:-ms-input-placeholder {color: #959ba0;}
.casecreator-section .form-control::-webkit-input-placeholder {color: #959ba0;}
.casecreator-section .form-control::-ms-expand {color: #959ba0;}

.casecreator-section textarea.form-control{border-radius: 0;background-color: #2a3641;border-color: transparent;box-shadow: none;height: 77px;line-height: 63px;font-size: 16px;font-weight: 700;color: #fff;}

.spin-slider-2-out {padding: 20px;background-color: #2a3641;}
.product-spin-2 {padding: 6px;}
.product-spin-2 > a {display: block;background-color: #141e30;position: relative;}
.spin-slider-2 .selected a:before {border: 5px solid #28bebd; content: " "; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.spin-slider-2 .selected a:after {background-image: url("../images/check.jpg"); content: " "; height: 24px; left: 0; position: absolute; top: 0; width: 24px; }
.spin-slider-2 .product-spin-2 a:hover:before {border: 5px solid #28bebd; content: " "; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

.spin-slider-2 .owl-controls {margin-top: 0;}
.spin-slider-2 .owl-controls .owl-buttons div {background-color: rgba(0, 0, 0, 0); border-radius: 0; margin: -25px 0 0; opacity: 1; padding: 0; position: absolute; top: 50%; }
.spin-slider-2 .owl-controls .owl-buttons .owl-prev {left: -45px;}
.spin-slider-2 .owl-controls .owl-buttons .owl-next {right: -45px;}


.product-detail-table .table > thead > tr > th,
.product-detail-table .table > tbody > tr > th,
.product-detail-table .table > tfoot > tr > th,
.product-detail-table .table > thead > tr > td,
.product-detail-table .table > tbody > tr > td,
.product-detail-table .table > tfoot > tr > td {vertical-align: middle;border-color: #36414b;}

.product-detail-table .table {font-size: 16px;font-weight: 700;background-color: #2a3641;margin-bottom: 0;}
.product-detail-table .product-img {width: 70px;display: block;}
.product-detail-table .product-img img {width: 100%;display: block;margin-left: auto;margin-right: auto;height: auto;}
.product-detail-table .product-name {color: #fff;}
.product-detail-table .affiliate-input {background-color: #1f2b37; border-color: transparent; border-radius: 0; color: #ffffff; font-size: 16px; font-weight: 700; height: 50px; width: 100px; text-align: center; box-shadow: none; }
.product-detail-table .btn-delete {background-color: transparent; font-size: 28px; }
.product-detail-table .btn-delete:hover {color: #ec407a; }

.product-detail-table .magic-radio + label:before,
.product-detail-table .magic-checkbox + label:before,
.product-detail-table .magic-radio + label:after {height: 15px;width: 15px;}
.product-detail-table .magic-radio + label {min-height: 15px;min-width: 15px;}
.product-detail-table .magic-radio + label:not(:empty) {padding: 0 0 0 15px !important; }

.product-detail-table .footer ul {margin-left: -7px;margin-right: -7px;}
.product-detail-table .footer ul > li {float: left;margin-top: 20px;padding-left: 7px;padding-right: 7px;}
.product-detail-table .footer .table-text-btn {border: 1px solid #ec407a; color: #ffffff; display: block; font-size: 17px; font-weight: 500; padding: 12px 30px; text-align: center; margin-bottom: 0; }

.product-1 a.selected:before {border: 2px solid #28bebd; content: " "; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 5; }
.product-1 a.selected:after {background-image: url("../images/check.jpg"); content: " "; height: 24px; left: 0; position: absolute; top: 0; width: 24px; }
.product-1-select-hover:hover:before {border: 3px solid #28bebd; content: " "; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 5; }


.affiliate-input-lg {background-color: #2a3641; border-color: rgba(0, 0, 0, 0); border-radius: 0; box-shadow: none; color: #959ba0; font-size: 16px; font-weight: 700; height: 77px; text-align: center; }

.range-slide-2-design .irs {height: 77px;margin-top: 5px;}
.range-slide-2-design .irs-bar {height: 17px;background-color: #28bcbb;background-image: none;}
.range-slide-2-design .irs-slider {height: 77px;width: 30px;background-color: #ec407a;background-image: none;}
.range-slide-2-design .irs-line {background-color: #2a3641;height: 17px;background-image: none;}
.range-slide-2-design .irs-line-left {height: 17px;background-color: #28bcbb;background-image: none;width: 30px;}
.range-slide-2-design .irs-line-mid {background-color: #2a3641;background-image: none;height: 17px;}
.range-slide-2-design .irs-line-right {background-color: #2a3641;background-image: none;height: 17px;}
.range-slide-2-design .irs-bar-edge {display: none !important;}
.range-slide-2-design .irs-slider {top: -5px;}
.range-slide-2-design .irs-line-mid,
.range-slide-2-design .irs-line-left,
.range-slide-2-design .irs-line-right,
.range-slide-2-design .irs-bar,
.range-slide-2-design .irs-bar-edge,
.range-slide-2-design .irs-slider {background-image: none;}



